<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Refugiar Perdido Calle</title>
</head>
<body>
<p>Un usuario con número de telefono <strong>{{ numero }}</strong> encontró la mascota premium <strong>{{ mascota }}</strong> del <strong><a href="https://corazonpet.com/usuario/usuario/?id={{ usuario }}">usuario</a></strong>. La ubicación donde generaron el reporte es <a href="http://maps.google.com/maps?q={{ latitud }},{{ longitud }}">esta</a></p>
</body>
</html>